.form-vertical{
	display: flex;	
	flex-direction: column;
	padding: 2rem;
}

.form-vertical input[type=text],
.form-vertical input[type=email],
.form-vertical input[type=password],
.form-vertical textarea{
	background: linear-gradient(90deg, #181A1B 0%, #252A2E 100%);
	box-shadow: inset -4px -4px 4px rgba(68, 68, 68, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	font-family: Montserrat;
	font-weight: 300;
	font-size: 1.2rem;
	color: rgba(255, 255, 255, 0.3);
	height: 40px;
	padding-left: 1rem; 
	outline: none;
	margin: 1rem;
}

.form-vertical input[type=text]:focus,
.form-vertical input[type=email]:focus,
.form-vertical input[type=password]:focus,
.form-vertical textarea:focus{
	border: 1px solid #A650FF;
}

.form-vertical textarea{
	resize: vertical;
}

.hide{
	display: none;
}

label{
	font-weight: 300;
	font-size: 1.2rempx;
	color: rgba(255, 255, 255, 0.3);
	margin: 1rem;
}

.form-vertical input[type=range],
.form-vertical output{
	margin: 0 1rem ;
}

.form-vertical span{
	color: #FF0066;
	margin: 0 1rem ;
	
}

.action-buttons{
	display: flex;
	justify-content: space-between;
	margin: 1rem;
}

.invalid{
	box-shadow: 0px 0px 7px #FF0066, inset -4px -4px 4px rgba(68, 68, 68, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

