<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>
<body>

	<h1>Epic Task</h1>
	
	<span th:if="${param.error}" class="alert error">Login inválido</span>

	<section class="card form">

		
		<h2>Login</h2>
		
		<form class="form-vertical" th:action="@{/login}" method="post" >
			<label class="hide" for="email">Email</label>
			<input type="email" id="email" name="username" placeholder="e-mail">
			
			<label class="hide"  for="password">Senha</label>
			<input id="password" name="password" type="password" placeholder="senha">
			
			<button class="primary">Entrar</button>
			
		</form>
		
	</section>

</body>
</html>